body{
    margin: 0;
    padding: 0;
}
:root{
    --colorcito:rgb(160,207,49);
}
.DivisionExternaImagenResto{
    display: grid;
    width: 100%;
    height: 700px;
    justify-content: center;
}
.imgfondo{
    background-image: url(../recurso/imgfondo.png);
   background-repeat: no-repeat;
   width: 1000px;
   height: 563px;
   margin: 0;
   border: 0;
   padding: 0;
}
.Divisionlogo{
    display: flex;
    background-color: rgb(255, 255, 255);
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
}
.DisionlogoAvionTexto{
    display: flex;
    width: 55%;
}
.imagenavion{
    width: 50px;
    height: 50px;
    align-self: center;
}
.contenedoravion{
    align-content: center
}
.NombreAgencia,.Unsplash{
    color: var(--colorcito);
}
.navegador{
    width: 45%;
    display: flex;
   font-size: 70%;
    margin: 0;
    padding: 0;
    justify-content: right;
}
.navegadores{
    padding-left: 10px;
    padding-right: 10px;
    border:1px;
    border-right-style: solid;
    margin: 0;
    height: 68px;
    align-content: center;
}
#navegadorSeleccionado{
    background-color: var(--colorcito);
}
.Divisionmedia{
    height: 75%;
    display: flex;
}
.Contenedorflechaiz{
    width: 10%;
    align-content: center;
    vertical-align: middle;
}
.Contenedorflechadr{
    width: 10%;
    text-align: right;
    align-content: center;
    vertical-align: middle;  
}
.ContenedortextoCentral{
    width: 80%;
}
.textoCentral{
    width: 33%;
    height: 250px;
    margin-top: 140px;
    background-color: rgb(250, 250, 250);
    display: grid;
}
.textoCentralPrecio{
    background-color: rgb(237, 64, 66);
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    margin-bottom: 0;
    font-size: 35px;
}
.textoCentralTitulo{
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
.textoCentralText{
    font-size: 10px;
    text-align: justify;
    margin: 0px 10% 0px 10%;
}
.textoCentralBoton{
    background-color: var(--colorcito);
    margin-right: 20%;
    margin-left: 20%;
    padding-top: 20px;
    height: 40px;
    text-align: center;
    color: white;
}
.ContenedorTitulosDeAbajo{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    gap: 56px;
}
.titulodeabajo{
    padding: 5px;
    background-color: var(--colorcito);
    width: 150px;
    text-align: center;
    margin-bottom: 0;
    align-items: end;
    color: white;
}
.Contenedordescripcionpaises{
    display: flex;
    margin:0px 10% 200px 10% ;
   gap: 66px;
}
.descripcionpaises{
    background-color: var(--colorcito);
    width: 150px;
    text-align: center;
    margin-bottom: 0;
    align-items: end;
    height: 119px;    
}
.ciudades{
    font-size: 10px;
    color: var(--colorcito);
    text-align: start;
}
.descripcionHotel{
    font-size: 8px;
    color:  rgb(237, 64, 66);
    text-align: start;    
}
.Preciociudad{
    width: 150px;
    color: rgb(255, 255, 255);
    background-color: var(--colorcito);
    padding: 5px;
    font-size: 10px;
    text-align: center;
}
.Contenedoriconos{
    display: flex;
    margin: 200px 0px 100px 0;
}
.iconos{
    width: 12.5%;
    height: 100px;
    padding-top: 20px;
    background-color: rgb(238,238,238);
    border-right: 1px;
    border-right-style: solid;
    border-color: rgb(208, 210, 211);
    text-align: center;
}
.footer{
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
}
.DisionlogoAvionTextofooter{
    margin-right: 100px;
        display: flex; 
}
.Copyright{
    text-align: center;
    margin-right: 100px;
    font-size: 10px;
    padding-top: 10px;
}
.Copyrightcolor{
    color: var(--colorcito);
    font-size: 10px;
}